body {
    background-color: beige
}

.team-heading {
    background-color: midnightblue;
    color: white
}

.card-header {
    color: white
}

.managerRole {
    background-color: red
}

.engineerRole {
    background-color: purple
}

.internRole {
    background-color: blue
}